nav {
    position: absolute;
    width: 100%;
    background-color: #fff;
}
#logodiv{
    width: 250px;
    height: 110px;
    margin: auto;
    background: url('/img/logo\(purple\).png') center/cover;
}
#logodiv2{
    display: none;
}
.navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 600px;
    height: 100vh;
    background-color: #fff;
    transition: right .8s;
}
ul li {
    a{
        color: #77428e;
    }
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 10px;
}
ul i{
    rotate: -45deg;
}

.sub-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    max-height: 0; 
    overflow: hidden;
}

.sub-menu.show {
    margin-top: 10px;
    a{
        color: #000;
        display: block;
        padding:  8px 0;
        text-transform: capitalize;
    }
    display: block;
    opacity: 1;
    max-height: 500px; 
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}



#btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    width: 250px;
    height: 50px;
    background: #77428e;
    font-size: 1.5em;
    margin: auto;
    color: #fff;
    border-radius: 28px;
    border: none;
}
#icon{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:row ;
    gap: 30px;
   >div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 2.5em;
    color: #77428e;
    border: 1px solid #77428e;
    border-radius: 50%;
    }
}
#language{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    img{
        height: 20px;
        object-fit: cover;
    }
    a{
        font-size: 2em;
        color: #000;
    }
}
.hamburger, .bar {
    position: fixed;
}
.hamburger {
    display: block;
    top: 5%;
    left: 95%;
    width: 40px;
    height: 50px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}
.bar {
    background: #fff;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    transition: all .5s ease-in;
}
#bar2 {
    margin-top: 10px;
}
#bar3 {
    margin-top: 20px;
}
.navigation {
    z-index: 1000; 
}
.navigation.active {
    right: 0;
    height: 100vh;
}
#logo.open{
    left: 300px;
}
.hamburger.open #bar1 {
    background-color: #77428e;
    transform: rotate(45deg) translate(8px, 6px);
}
.hamburger.open #bar2 {
    opacity: 0;
}
.hamburger.open #bar3 {
    background-color: #77428e;
    transform: rotate(-45deg) translate(8px, -6px);
}

#logo{
    width: 200px;
}

#slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 152, 204, 0.3);
    z-index: -3;
} 

#slider {
    position: relative;
    height: 100vh;
    background: url('/img/slider1.jpeg') 20% 50%/cover;
    z-index: 1;
}




/* 768px və daha böyük ekranlar */
@media only screen and (min-width: 768px) {
    nav{
        background-color: transparent;
        color: #fff;
        top: 10px;
    }
    .navigation {
        position: static; /* Ekranın yuxarısına yerləşdirmək üçün 'absolute' deyil, 'static' */
        width: 100vw; /* Tam genişlik */
        height: auto; /* Yüksəklik avtomatik */
        display: flex; /* Məzmunu horizontal mərkəzləşdirir */
        justify-content: center; /* Mərkəzləşdirir */
        align-items: center; /* Şaquli mərkəzləşdirir */
        transition: none; /* Təhlükəsizlik məqsədilə keçid effekti aradan qaldırılır */
        z-index: 1000; /* Üst səviyyədə olmasını təmin edir */
    }

    /* Logo */
    #logodiv {
        display: none;
    }

    #logodiv2 {
        width: 150px;
        height: 70px;
        margin: 22px 5px;
        position: absolute;
        display: inline-block;
    }

    .hamburger {
        display: none; /* Desktop ekranlarda gizlədilir */
    }

    /* Menu */
    #menuUl {
        display: flex; /* Flexbox ilə üfüqi görünüş */
        flex-direction: row; /* Yalnız üfüqi istiqamətdə görünüş */
        justify-content: flex-end; 
        align-items: center;/* Mərkəzləşdirir */
        margin: 30px 0; /* Marginləri sıfırlayır */
        padding: 0; /* Paddingləri sıfırlayır */
        list-style: none; /* Liste nöqtələrini gizlədilir */
        i{
            display: none;
        }
        a{
            color: #fff;
            font-size: .8em;
        }
    }

    ul li {
        margin: 0 2px; /* Elementlər arasında boşluq */
        font-size: 1.1em; /* Font ölçüsü */
        text-align: center; /* Mətn mərkəzləşdirir */
    }

    ul a {
        color: #77428e; /* Mətn rəngi */
        text-decoration: none; /* Alt xətt olmadan */
        display: block; /* Hər bir element üçün blok səviyyəsi */
        padding: 10px 0; /* Padding əlavə edir */
    }


    .sub-menu.show {
        display: block; /* Görünür */
    }

    /* Arrow */
    .arrow {
        transform: rotate(0deg); /* İkonun rotasiyası */
    }

    /* İkonlar və Dil Seçimləri */
    #icon, #language {
      display: none
     }

    #icon a, #language a {
        width: 50px; /* İkon və dil linklərinin genişliyi */
        height: 50px; /* İkon və dil linklərinin hündürlüyü */
        font-size: 1.8em; /* İkonların font ölçüsü */
    }

    #btn {
       display: none;
    }

    /* Slider */
    #slider {
        background-position: center center; /* Sliderin mərkəzləşdirilmiş görünüşü */
    }

    #slider::before {
        display: block; /* Overlay görünür */
    }
}
